<section class="h-[700px] relative content-center bg-teal-400">
   <div class="hero">
      <div
         class="flex flex-col justify-center items-center h-[600px] relative z-10 m-auto w-[800px] content-center bg-slate-600/20 rounded-full gap-10 p-10 text-center"
         id="foreground"
      >
         <h1
            class="text-5xl md:text-6xl lg:text-9xl text-center font-bold bg-gradient-to-r from-red-600 via-green-500 to-blue-700 inline-block text-transparent bg-clip-text mt-4 relative z-10 [text-shadow:_0_8px_8px_rgb(7_17_50_/_0.3)]"
         >
            Paint VR
         </h1>
         <p class="text-xl relative z-10 text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
         </p>
         <a
            href="#"
            class="relative z-10 text-base px-10 py-3 bg-blue-400 font-bold rounded-lg hover:bg-blue-500 hover:text-white duration-300 text-white"
            >Get Started</a
         >
         <!--<img
            src="bg-gametitle.png"
            alt="Pintura"
            class="absolute w-[600px] h-[700px] blur-sm"
         />-->
      </div>
      <!--<div class="hero__image">
         <img
            src="wall_texture.webp"
            alt="Hero Image"
            id="background"
            class="absolute top-0 size-full w-full h-full object-cover"
         />
      </div>-->
   </div>
</section>

<script>
   // Intercalar blur entre los id foreground y background
   /*const foreground = document.getElementById("foreground");
   const background = document.getElementById("background");

   // al entrar el hover en el foreground, se agrega blur-lg al background
   foreground.addEventListener("mouseenter", () => {
      background.classList.add("blur-lg");
      foreground.classList.remove("blur-sm");
   });

   // al salir el hover en el foreground, se quita blur-sm al background
   foreground.addEventListener("mouseleave", () => {
      background.classList.remove("blur-lg");
      foreground.classList.add("blur-sm");
   });*/
</script>
