<section class="h-[700px]">
   <main
      class="w-4/5 m-auto flex flex-col justify-center gap-10 lg:gap-0 lg:justify-between items-center lg:flex-row h-full relative"
   >
      <div class="h-full lg:w-1/2 m-4 content-center relative">
         <h1
            class="text-5xl md:text-6xl lg:text-7xl text-center lg:text-left font-bold bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text mt-4 relative z-10"
         >
            Interacción Humano Computador
         </h1>
      </div>
      <div
         class="h-full w-full lg:w-1/2 justify-center m-4 content-center relative"
      >
         <img
            src="Hero.png"
            alt="Hero"
            class="h-[300px] md:h-[300px] z-10 m-auto relative"
         />
      </div>
      <img
         src="banner-right.png"
         class="absolute top-0 m-auto h-full right-0 w-[1200px] invisible lg:visible"
      />
   </main>
</section>
