<nav class="bg-teal-400 border-gray-200 text-white w-full">
   <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
   >
      <a
         href="/"
         class="flex items-center space-x-3 rtl:space-x-reverse hover:bg-white rounded-xl hover:text-blue-500 px-2 py-1"
      >
         <img
            src="https://flowbite.com/docs/images/logo.svg"
            class="h-8"
            alt="Flowbite Logo"
         />
         <span class="self-center text-2xl font-semibold whitespace-nowrap"
            >Grupo IHC</span
         >
      </a>
      <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
         <button
            data-collapse-toggle="navbar-cta"
            type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-cta"
            aria-expanded="false"
         >
            <span class="sr-only">Open main menu</span>
            <svg
               class="w-5 h-5"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 17 14"
            >
               <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 1h15M1 7h15M1 13h15"></path>
            </svg>
         </button>
      </div>
      <div
         class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
         id="navbar-cta"
      >
         <ul
            class="flex flex-col font-medium mt-4 border rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:border-gray-700"
         >
            <li>
               <a
                  href="#"
                  class="p-2 rounded-xl md:bg-transparent hover:bg-white hover:text-blue-500"
                  aria-current="page">Home</a
               >
               <a
                  href="#"
                  class="p-2 rounded-xl md:bg-transparent hover:bg-white hover:text-blue-500"
                  aria-current="page">Integrantes</a
               >
               <a
                  href="/Game"
                  class="p-2 rounded-xl md:bg-transparent hover:bg-white hover:text-blue-500"
                  aria-current="page">Videojuego</a
               >
               <a
                  href="#"
                  class="p-2 rounded-xl md:bg-transparent hover:bg-white hover:text-blue-500"
                  aria-current="page">Galeria</a
               >
               <a
                  href="#"
                  class="p-2 rounded-xl md:bg-transparent hover:bg-white hover:text-blue-500"
                  aria-current="page">Proyectos</a
               >
               <a
                  href="#"
                  class="p-2 rounded-xl md:bg-transparent hover:bg-white hover:text-blue-500"
                  aria-current="page">Tecnologia</a
               >
            </li>
         </ul>
      </div>
   </div>
</nav>
